body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.box {
  height: 200px;
  width: 210px;
  background-color: rgb(159 197 248);
  margin: 8px;
  border-style: solid;
}

.container {
  display: flex;
  flex-wrap: wrap;
}
