<!doctype html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='CSS/style.css')}}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Counter</title>
  </head>
  <body>
    <div class="counter">
      <h3>Counter</h3>
      <p>{{session['count']}} times</p>
      <a href="/destroy_session"><button>Clear</button></a>
      <a href="/pop_session"><button>Decrease</button></a>
    </div>
  </body>
</html>
